.default {
    align-items: center;
    background: #273439;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    color: #fff;
    display: block;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 15px;
    font-weight: 200;
    height: 30px;
    justify-content: center;
    position: relative;
    transition: background 300ms, opacity 500ms 800ms;
    user-select: none;
    width: 100px;
}

.red {
    background: red;
}